@model DelfosMachine.Models.PreferenciaCliente

@{
    ViewData["Title"] = "Criar Preferências do Usuário";
}

<section class="d-flex justify-content-center align-items-center mb-5" style="height: 100vh">
    
    <div class="w-20 d-flex align-items-center justify-content-center" style="height: 100vh; padding-right: 10px;">
        <div class="container-fluid border p-4" style="min-height: 100vh; width: 60vh;">
            <h2 class="fs-4">Definir Preferências</h2>

            <form asp-action="Preferencia" method="post">
                <div class="form-group">
                    <label asp-for="EnderecoPreferencia.CEP" class="control-label fs-6"></label>
                    <input asp-for="EnderecoPreferencia.CEP" class="form-control" />
                    <span asp-validation-for="EnderecoPreferencia.CEP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnderecoPreferencia.Estado" class="control-label fs-6"></label>
                    <input asp-for="EnderecoPreferencia.Estado" class="form-control" />
                    <span asp-validation-for="EnderecoPreferencia.Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnderecoPreferencia.Cidade" class="control-label fs-6"></label>
                    <input asp-for="EnderecoPreferencia.Cidade" class="form-control" />
                    <span asp-validation-for="EnderecoPreferencia.Cidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnderecoPreferencia.Bairro" class="control-label fs-6"></label>
                    <input asp-for="EnderecoPreferencia.Bairro" class="form-control" />
                    <span asp-validation-for="EnderecoPreferencia.Bairro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnderecoPreferencia.Rua" class="control-label fs-6"></label>
                    <input asp-for="EnderecoPreferencia.Rua" class="form-control" />
                    <span asp-validation-for="EnderecoPreferencia.Rua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnderecoPreferencia.Complemento" class="control-label"></label>
                    <input asp-for="EnderecoPreferencia.Complemento" class="form-control" />
                    <span asp-validation-for="EnderecoPreferencia.Complemento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaSemanaPreferencia.DiaSemana" class="control-label fs-6"></label>
                        <select asp-for="DiaSemanaPreferencia.DiaSemana" class="form-control">
                            <option value="">Selecione</option>
                            <option value="Segunda">Segunda-feira</option>
                            <option value="Terca">Terça-feira</option>
                            <option value="Quarta">Quarta-feira</option>
                            <option value="Quarta">Quinta-feira</option>
                            <option value="Quarta">Sexta-feira</option>
                            <option value="Quarta">Sábado</option>
                        </select>
                    <span asp-validation-for="DiaSemanaPreferencia.DiaSemana" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TurnoPreferencia.Turno" class="control-label fs-6"></label>
                        <select asp-for="TurnoPreferencia.Turno" class="form-control">
                            <option value="">Selecione</option>
                            <option value="Manha">Manhã</option>
                            <option value="Tarde">Tarde</option>
                            <option value="Noite">Noite</option>
                        </select>
                    <span asp-validation-for="TurnoPreferencia.Turno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HorarioPreferencia.Horario" class="control-label"></label>
                        <select asp-for="TurnoPreferencia.Turno" class="form-control">
                            <option value="">Selecione</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                        </select>
                    <span asp-validation-for="HorarioPreferencia.Horario" class="text-danger"></span>
                </div>
                <div class="form-group pt-3">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a asp-action="ConsultarPreferencia" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>

        </div>
    </div>

    <div class="w-80" style="height: 100vh">
        <img src="~/assets/CadastroCliente/imagem1.jpg" alt="Imagem de fundo para área de cadastro cliente" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
