@page
@{
    ViewData["Title"] = "Página de gestão dos médicos";
}

<div class="text-center min-vh-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="display-4">Gestão dos Médicos/Especialistas</h5>
                
                <div class="d-flex justify-content-center gap-3">

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 18rem;">
                                <img
                                    alt="Card"
                                    src="/assets/PaginaLogadaCliente/cadastro.png"
                                    class="img-fluid"
                                />
                                <div class="card-body">
                                    <h3 class="card-title w-100">Cadastro</h3>
                                    <p class="">
                                        Dados cadastrais
                                    </p>
                                    <a href="@Url.Action("PaginaCliente", "PaginaCliente")" class="btn btn-primary w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 18rem;">
                                <img
                                    alt="Card"
                                    src="/assets/PaginaLogadaEspecialista/imagem2.png"
                                    class="img-fluid"
                                />
                                <div class="card-body">
                                    <h3 class="card-title">Feedabck</h3>
                                    <p class="">
                                       Acompanhamento das pesquisas
                                    </p>
                                    <a href="@Url.Action("PaginaClinica", "PaginaClinica")" class="btn btn-primary w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 18rem;">
                                <img
                                    alt="Card"
                                    src="/assets/PaginaLogadaEspecialista/imagem3.png"
                                    class="img-fluid"
                                />
                                <div class="card-body">
                                    <h3 class="card-title">Benefício</h3>
                                    <p class="">
                                       Programa de Benefício
                                    </p>
                                    <a href="@Url.Action("PaginaEspecialista", "PaginaEspecialista")" class="btn btn-primary w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
