@model BIProject.Models.LoginViewModel
@{
    ViewData["Title"] = "Realizar Login";
}

<section class="d-flex justify-content-center align-items-center p-3 mb-5" style="height: 80vh;">
    <div class="d-flex w-100 h-100">
        <!-- Área de Login -->
        <div class="container-fluid border p-4" style="width: 30%; min-height: 100%; background-color: #f8f9fa;">
            <h2 style="color: #028676;">Login</h2>
            <p>Se você é cadastrado, faça o login para ter acesso a todos os conteúdos.</p>
            <form class="form-horizontal" asp-action="Logar" method="post">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" type="password" placeholder="Exemplo 123456" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group pt-2 mb-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Lembrar
                        </label>
                    </div>
                </div>
                <div class="form-group w-100">
                    <input type="submit" value="Login" class="btn w-100" style="background-color: #028676; color: white;" />
                </div>
            </form>
            <h2 class="mt-5" style="color: #028676;">Cadastre-se</h2>
            <p>Se ainda não possui uma conta, realize o cadastro e conheça nossos produtos e serviços.</p>
            <div class="nav-item text-center">
                <a class="nav-link border bg-blue rounded text-white" asp-area="" asp-controller="User" asp-action="Create" style="background-color: #028676; color: white;">Cadastro</a>
            </div>
        </div>

        <!-- Área de Imagem -->
        <div class="flex-grow-1 d-flex justify-content-center align-items-center">
            <img src="~/assets/Login/imagem2.png" alt="Imagem de fundo para área de cadastro usuário" class="img-fluid" style="height: 100%; width: 100%; object-fit: cover;">
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
