* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.hero-image {
  background-image: url(/assets/Hero/imagem.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vh;
  background-position: right center; 
  display: flex;
  flex-direction: column;    
  justify-content: center;      
}