@model IEnumerable<BIProject.Models.ConceptTitle>

<section class="p-5">

    <h2>Lista de Títulos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var concept in Model)
            {
                <tr>
                    <td>@concept.Id</td>
                    <td>@concept.Titulo</td>
                
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group pt-3">
        <a asp-controller="Management" asp-action="Index" class="btn btn-warning">Voltar</a>
        <a asp-controller="Create" asp-action="ConceptTitle" class="btn btn-primary">Atualizar Títulos</a>
        <a asp-controller="Home" asp-action="Hero" class="btn btn-secondary bg-green">Home</a>
    </div>

</section>